@using Desafio_DotNet.Models.ViewModels
@model LoginViewModel
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
    <script>
        setTimeout(function() {
            var messageDiv = document.getElementById("successMessage");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 5000);
    </script>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Senha</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
            <label class="form-check-label" asp-for="RememberMe">Lembrar-me</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
</form>

<p>
    <a asp-action="Register">Criar uma conta</a>
</p>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
